body {
    font-family: sans-serif;
    margin: 0%;
}

p {
    font-size: xx-large;
}

a:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

header {
    display: grid;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-items: center;
}

.logo {
    max-width: 70%;
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0%;
}

.tagList li {
    padding: 0.5rem;
    border-radius: 15px;
    border: 3px solid #018B18;
    background-color: white;
    box-shadow: -3px 5px 6px #00000029;
}

.tagList li:hover {
    background-color: #018B18;
    color: white;
    cursor: pointer;
}

.resetFilters {
    display: flex;
    margin: auto;
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid rgb(185, 184, 184);
    max-width: fit-content;
    box-shadow: -3px 5px 6px #00000029;
}

.resetFilters:hover {
    background-color: #018B18;
    color: white;
    cursor: pointer;
}

.video {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

iframe {
    max-width: 100%;
}

.video-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid #018B18;
    border-radius: 15px;
    box-shadow: -3px 5px 6px #00000029;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-top: 5em;
    min-height: 10em;
}

.active {
    display: block;
}

.inactive {
    display: none;
}