body {
    font-family: warsaw 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
}

p {
    font-size: xx-large;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

header {
    display: grid;
    margin-top: 2em;
    margin-bottom: 2em;
    justify-items: center;
}

.logo {
    max-width: 70%;
    margin-bottom: 1em;
}

.input {
    display: block;
    margin: auto;
    padding: 12px 20px 12px 40px;
    border: 2px solid rgb(15, 132, 30);
    border-radius: 10px;
    margin-bottom: 2em;
    width: 90vw;
}

.video {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

iframe {
    max-width: 100%;
}

.video-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid #018B18;
    border-radius: 15px;
    box-shadow: -3px 5px 6px #00000029;
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-top: 5em;
    min-height: 10em;
}